@font-face {
    font-family: 'BarlowCondensed';
    src: url('../../fonts/BarlowCondensed/BarlowCondensed-Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }
  
@font-face {
  font-family: 'BarlowCondensed';
  src: url('../../fonts/BarlowCondensed/BarlowCondensed-Light.ttf');
  font-weight: 300;
  font-style: normal;
}
  
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../../fonts/BarlowCondensed/BarlowCondensed-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}
  
@font-face {
  font-family: 'BarlowCondensed';
  src: url('../../fonts/BarlowCondensed/BarlowCondensed-Medium.ttf');
  font-weight: 500;
  font-style: medium;
}
  
@font-face {
  font-family: 'BarlowCondensed';
  src: url('../../fonts/BarlowCondensed/BarlowCondensed-Bold.ttf');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'ArcadiaLTStd';
  src: url('../../fonts/ArcadiaLTStd/ArcadiaLTStd.otf');
  font-weight: 400;
  font-style: normal;
}
  