///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

$link-color: #333333;
$primary-red: #f55f5f;
$primary-blue: #1f4074;
$secondary-red:#f68786;
$headerBackground1: #def0f6;
$blue-lioght: #198eca;