///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

//Global transition
$global-transition: all 0.2s ease-in-out;

//Colors
$link-color: #333333;
$primary-red: #f55f5f;
$primary-blue: #1f4074;
$secondary-red:#f68786;
$headerBackground1: #def0f6;
$blue-light: #198eca;
$primary-grey: #e8e8e8;