/* ==========================================================================
   #FORMS
   ========================================================================== */
.form-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__control {
    height: 48px;
  }

  &__control,
  .txtaria {
    margin-bottom: 10px;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 30px 15px;
    color: #fff;
  }

  ::placeholder {
    color: #94b0dd;
    font-size: 16px;
    font-weight: 300;
  }

  .name,
  .email {
    width: calc((100% - 10px) / 2);
  }

  .phone,
  .txtaria {
    width: 100%;
  }
}