/* ==========================================================================
   #LINKS
   ========================================================================== */
.phone {
  display: flex;
  align-items: center;

  a {
    font-size: 28px;
    color: $primary-red;
    text-decoration: none;
  }
}