// /* ==========================================================================
//    #LAYOUT
//    ========================================================================== */
body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  font-size: 19px;
}

.container {
  max-width: 1370px;
}

.logo {
  img {
    width: auto;
  }
}

.text-left {
  display: flex;
  justify-content: flex-start;
}

.text-right {
  display: flex;
  justify-content: flex-end;
}

.text-center {
  display: flex;
  justify-content: center;
}
