/* ==========================================================================
   #FOOTER
   ========================================================================== */
.footer {
  background-image: url('../../img/footer-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $primary-blue;

  &-top {
    padding: 119px 15px;

    h5 {
      color: #fff;
      text-transform: uppercase;
    }

    p {
      color: #fff;
    }

    h5,
    p {
      margin-bottom: 50px;
    }

    .adress {
      display: flex;
      align-items: center;
    }

    .icon-phone,
    .icon-location {
      font-size: 28px;
      font-weight: 400;
      margin-right: 8px;
    }

    .social,
    .contact,
    .logo {
      max-width: 250px;
      width: 100%;

      @include mq(to768) {
        margin: 30px auto 0 auto;
      }
    }
  }

  &-column2 {
    display: flex;
    justify-content: center; //Align items in footer desktop versions, design.
  }

  &-column3 {
    display: flex;
    justify-content: flex-end; //Align items in footer desktop versions, design.
  }

  &-bottom {

    &__inner {
      border-top: 1.5px solid #485c7c;
      opacity: 0.8;
      text-align: center;
      padding: 18px 0 38px;

      .content {
        a {
          color: #485c7c;
          position: relative;
          padding-left: 10px;
          margin-right: 10px;

          &::before {
            content: '';
            width: 2px;
            height: 80%;
            background-color: #485c7c;
            position: absolute;
            bottom:0;
            left: 0;
          }

          &:last-child {
            margin-right: 0;
          }

          &:first-child {
            padding-left: 0;

            &::before {
              display: none;
            }
          }
        }
      }
    }
  }
}
