/* ==========================================================================
   #BANNER
   ========================================================================== */
.banner {
  align-items: center;

  &__form {
    h4 {
      font-size: 37px;
      font-weight: 400;
      margin-bottom: 20px;
      color: #fff;
    }

    p {
      font-size: 19px;
      font-weight: 300;
      margin-bottom: 22px;
      color: #fff;
    }
  }

  &__text {

    @include mq(to1200) {
      text-align: center;

      @include mq(to1200) {
        color: #fff;
      }
    }

    h1 {
      color: $primary-blue;
      font-weight: 500;

      @include mq(to1200) {
        color: #fff;
      }
    }

    h3 {
      font-size: 32px;
      font-weight: 300;
      text-transform: uppercase;
    }

    p {
      font-size: 32px;
      font-weight: 300;
    }
  }

  &__image {
    position: relative;
    max-width: 528px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq(to1200) {
      margin: 50px auto;
    }

    img {
      z-index: 5;
    }

    &::before {
      content: '';
      width: calc(100% + 40px);
      height: calc(76% + 40px);
      background-color: transparent;
      border: 20px solid rgba(194, 215, 232, 0.4);
      border-radius: 50%;
      position: absolute;
      transform: translateY(8px);
      z-index: 1;

      @include mq(to768) {
        transform: translateY(4px);
      }
    }
  }
}
