// /* ==========================================================================
//    #LAYOUT
//    ========================================================================== */
body {
  margin: 0;
  font-family: 'BarlowCondensed';
}

p {
  font-size: 19px;
}

.container {
  max-width: 1370px;
}

.logo {

  @include mq(to768) {
    width: 135px;
  }

  img {
    width: auto;
  }
}

.hidden {
  display: none;
}

