/*  ==========================================================================
  #WRAPPER
  ==========================================================================  */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  flex-wrap: wrap;

  &-contact {

    @include mq(to1024) {
      order: 1;
      width: 100%;
    }

    .phone {

      @include mq(to1024) {
        display: flex;
        justify-content: flex-end;

        a {
          font-size: 22px;
        }
      }

      .icon-phone {
        margin-right: 8px;
      }
    }
  }

  &-menu {
   
  }

  .logo {
    @include mq(to1024) {
      order: 2;
    }

    img {
      @include mq(to1024) {
        width: 100%;
      }
    }
  }

  .nav-toggle {
    @include mq(to1024) {
      order: 3;
    }
  }
}