/*  ==========================================================================
  #WRAPPER
  ==========================================================================  */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;

  &__contact {
    cursor: pointer;
    
    .phone {
      font-size: 28px;
      font-weight: 300;
      color: $primary-red;
      display: flex;
      align-items: center;
    }
  }
}