// /* ==========================================================================
//    #LAYOUT
//    ========================================================================== */
body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  font-size: 19px;
}

.container {
  max-width: 1370px;
}

.logo {
  img {
    width: auto;
  }
}


.slider-wraper {
  position: relative;
}

.slider-comments {
  position: absolute;
  top: 0;
  max-width: 520px;
  width: 100%;



  .slider-item {
    .client-image {
      width: 135px;
      height: 135px;
    }
  }
}
