/* ==========================================================================
   #FOOTER
   ========================================================================== */
.footer {
  background-image: url('../../img/footer-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $primary-blue;

  .footer-inner {
    padding: 119px 15px;

    h5 {
      color: #fff;
      text-transform: uppercase;
    }

    p {
      color: #fff;
    }

    h5,
    p {
      margin-bottom: 50px;
    }

    .phone {
      font-size: 28px;
      color: $primary-red;
    }

    .phone,
    .adress {
      display: flex;
      align-items: center;
    }

    .icon-phone,
    .icon-location {
      font-size: 28px;
      font-weight: 400;
      margin-right: 8px;
    }

    .social,
    .contact,
    .logo {
      max-width: 250px;
      width: 100%;

      @include mq(to768) {
        margin: 30px auto 0 auto;
      }
    }
  }

  .fotter-bottom {
    color: #485c7c;

    .footer-bottom__inner {
      border-top: 1.5px solid #485c7c;
      opacity: 0.8;
      text-align: center;
      padding: 38px 0;
    }
  }
}